@using SharpFlashCard.Models
@model SharpFlashCard.Models.GameRules
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CardSharpers</h1>
    <p class="lead">Sharp.Flash.Cards - A Whole new way of learning</p>
    <h3>Question:</h3>
    <p>@Model.GetRound()[0].Question</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">New Card &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Card Number : </h2>
        <p>
            Card Question:
        </p>
    
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">see answer &raquo;</a></p>
    </div>
</div>*@